/*drupal page*/
.drupaltp {
  padding: 50px 0px 80px 0px;
  position: relative;
}
.drupaltp:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(45deg, #f7fafb, #f9fbfc);
  z-index: -1;
}
.drupaltp .dplrtimg img {
  max-width: max-content;
}
.drupaltp .dplrtimg {
  position: relative;
}
.drupaltp .dplrtimg .lnkdn {
  position: absolute;
  top: 130px;
  left: 30px;
  background: #fff;
  padding: 18px 66px;
  border-radius: 12px;
  box-shadow: inset 1px 1px 3px #ddd;
}
.drupaltp .dplrtimg {
  text-align: center;
}
.drupaltp .dplrtimg .smrsh {
  position: absolute;
  bottom: -30px;
  right: 0px;
  background: #fff;
  padding: 18px 46px;
  border-radius: 12px;
  box-shadow: inset 1px 1px 3px #ddd;
}
.drupaltp .row {
  align-items: center;
}
.drupaltp .heading-main h5 {
  padding: 10px 0px;
  font-size: 20px;
  font-weight: 600;
}
.scrfrm {
  background-image: url(/images/webimages/expert-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.drpldvlpmnt ul {
  margin: 0;
  padding: 0;
}

.drpldvlpmnt ul li {
  list-style: none;
  display: inline-block;
  border: 1px solid rgb(255 255 255 / 30%);
  padding: 12px;
  border-radius: 50px;
  margin: 0px 12px 12px 0px;
}

.drpldvlpmnt ul li a {
  font-size: 16px;
  font-family: "Inter";
  line-height: 26px;
  color: #fff;
  font-weight: 400;
}

.drpldvlpmnt ul li a img {
  max-width: 20px;
}

.drpldvlpmnt ul li:hover {
  background: #fff;
}

.drpldvlpmnt ul li:hover a {
  color: #000;
}

.drpldvlpmnt ul li:hover img {
  filter: invert(1);
}
.cltchmg ul {
  margin: 0;
  padding: 0;
}

.cltchmg ul li {
  list-style: none;
  display: inline-block;
  padding-right: 18px;
}

.cltchmg ul li img {
  max-width: max-content;
}

.cltchmg {
  padding-top: 30px;
}
.drplcmsct .dplrimg img {
  max-width: 60px;
}
.drplcmsct .dplrimg img {
  max-width: 60px;
}
.dvlpsrvc {
  overflow: hidden;
}
.dvlpsrvc .container {
  position: relative;
}
.dvlpsrvc .lftbg {
  width: 776px;
  max-width: 100%;
  height: 713px;
  background: #26c6da;
  position: absolute;
  top: 0;
  left: -290px;
  z-index: -1;
  border-radius: 20px;
}
.dvlpsrvc .heading-main {
  padding-top: 38px;
}
.dvlpsrvc .heading-main h3 {
  padding-bottom: 12px;
  font-weight: 500;
}
.dvlpsrvc .drplimg {
  padding-left: 40px;
}

.dvlpsrvc .drplimg img {
  border-radius: 20px;
}
.drplcmsct {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.drplcmsct .drplcmsctinnr {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: 41%;
  position: relative;
  margin: 20px 20px 40px 20px;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  padding: 25px;
  border-radius: 20px;
  background: #fff;
}
.drplcmsct .drplcmsctinnr p {
  font-size: 16px;
  line-height: 26px;
}
.drplcmsct .drplcmsctinnr:before {
  width: 60px;
  height: 60px;
  position: absolute;
  top: -30px;
  left: -20px;
  z-index: -1;
}
.drplcmsct .drplcmsctinnr.dr1::before {
  content: url(/images/drupalimg/dr1.svg);
}
.drplcmsct .drplcmsctinnr.dr2::before {
  content: url(/images/drupalimg/dr2.svg);
}
.drplcmsct .drplcmsctinnr.dr3::before {
  content: url(/images/drupalimg/dr3.svg);
}
.drplcmsct .drplcmsctinnr.dr4::before {
  content: url(/images/drupalimg/dr4.svg);
}
.drplcmsct .drplcmsctinnr.dr5::before {
  content: url(/images/drupalimg/dr5.svg);
}
.drplcmsct .drplcmsctinnr.dr6::before {
  content: url(/images/drupalimg/dr6.svg);
}
.drplcmsct .drplcmsctinnr.dr7::before {
  content: url(/images/drupalimg/dr7.svg);
}
.drplcmsct .drplcmsctinnr.dr8::before {
  content: url(/images/drupalimg/dr8.svg);
}
.cmssct .cmslimg img {
  max-width: max-content;
}
.comprhsvprt {
  position: relative;
}

.comprhsvprt:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(45deg, #f7fafb, #f9fbfc);
  z-index: -1;
}
.comprhsvprt {
  position: relative;
  padding: 80px 0px;
}

.comprhsvprt:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(45deg, #f7fafb, #f9fbfc);
  z-index: -1;
}

.cmssct {
  display: flex;
  flex-wrap: wrap;
}

.cmssct .cmssctinr {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: 30%;
  background: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid #ebebeb;
}
.cmssct .cmssctinr .cmslcnt h5 {
  padding-top: 20px;
}
.drplscl1 {
  position: relative;
  padding: 80px 0px;
}
.drplscl1:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(45deg, #f7fafb, #f9fbfc);
  z-index: -1;
}
.prminentprt {
  position: relative;
  padding: 80px 0px;
}
.prminentprt::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(45deg, #f7fafb, #f9fbfc);
  z-index: -1;
}
.drplscl .heading-main {
  padding-bottom: 40px;
}
.prmntmg img {
  max-width: max-content;
}
.prmntmg img {
  max-width: max-content;
}
.hquality {
  width: 94%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.hquality .hqualitinr {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.hquality .hqualitinr.ctnt {
  flex-basis: 30%;
  padding: 0px 30px;
}

.hquality .hqualitinr.imgc {
  flex-basis: 40%;
  padding: 0px 0px;
}

.hquality .hqualitinr .hqltinr {
  padding: 10px 0px;
}

.whrsimg img,
.abtimg img {
  max-width: max-content;
}
.whrsimg,
.abtimg {
  text-align: center;
}

.exphrs ul {
  margin: 0;
  padding: 0;
}

.exphrs ul li {
  display: inline-block;
  width: 50%;
  padding-bottom: 10px;
  position: relative;
  font-size: 16px;
  line-height: 26px;
  padding-left: 30px;
}
.exphrs ul li::before {
  content: url(/images/drupalimg/arrow.png);
  position: absolute;
  top: 2px;
  left: 0;
}
.drplcmsct {
  overflow-y: scroll;
  max-height: 790px; /* Adjust height as necessary */
  transition: opacity 0.3s ease-in-out;
  padding-top: 30px;
}
/* Firefox */ /* IE and Edge */
.drplcmsct {
  scrollbar-width: none;
  -ms-overflow-style: none; 
}
/* Chrome, Safari, WebKit-based browsers */
.drplcmsct::-webkit-scrollbar {
  display: none; 
}

.quote-main h4 {
  padding: 14px 0px;
  border-radius: 0px;
  margin: 0px;
  border: 2px solid #47c7d8;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  color: #47c7d8;
}

.quote-content {
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #e8e8e8;
  padding: 20px;
  background: #f5f8fa;
}
.quote-content .merge-main label {
  width: 47%;
  margin-bottom: 20px;
}
.merge-main input {
  width: 100%;
  padding: 8px 12px;
  margin-top: 6px;
  border: 1px solid #cbd6e2;
  border-radius: 3px;
  background-color: transparent;
}
form.quote-form .merge-main {
  display: flex;
  justify-content: space-between;
}
.quote-content label textarea,
.quote-content label {
  width: 100%;
}
.quote-content label textarea {
  border: 1px solid #cbd6e2;
  min-height: 100px;
  background-color: transparent;
  border-radius: 3px;
  padding: 8px 12px;
  margin-top: 6px;
}
.hbstexprts.cmswbsltn .hbstexprtsinr.right {
  flex-basis: 100%;
}

.hbstexprts.cmswbsltn .hbstexprtsinr.right .hbperfimg span {
  font-size: 16px;
  background: #fff;
  display: block;
}

.cmsrgt {
  display: flex;
  flex-wrap: wrap;
}

.cmsrgt .cmsrgtinr {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: 100%;
  position: relative;
  text-align: left;
  padding-left: 76px;
  padding-bottom: 40px;
}

.cmsrgt .cmsrgtinr .cmsnmbr {
  position: absolute;
  top: 10px;
  left: 0;
  width: 60px;
  height: 60px;
  background: #26c6da;
  border-radius: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #fff;
  outline: 1px dashed #888888;
  border: 2px solid #fff;
}

.cmsrgt .cmsrgtinr .cmsnmbr span.nmbr {
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
}

.cmsrgtinr {
  position: relative;
}

.cmsrgtinr:before {
  content: "";
  width: 1px;
  height: 60%;
  border: 1px dashed #888;
  position: absolute;
  top: 70px;
  left: 30px;
  z-index: -1;
}

.cmsrgt .cmsrgtinr:last-child::before {
  display: none;
}
.drplscl1 .heading-main {
  padding-bottom: 20px;
}

.drplscl1 .ddrpl {
  max-width: 80%;
  margin: 0 auto;
}

.cmsrgt .cmsrgtinr:last-child {
  padding-bottom: 0px;
}

@media only screen and (max-width: 575px) {
  .cmsrgt .cmsrgtinr h4 {
    font-size: 18px;
    line-height: 26px;
  }
  .drupaltp .row {
    flex-direction: column-reverse;
  }
  .whyhrs .row {
    flex-direction: column-reverse;
  }
  .whyhrs .whrsimg {
    padding-bottom: 30px;
  }
  .whyhrs .whrsimg img {
    padding-top: 0px;
  }
  .drupaltp .heading-main {
    padding-top: 50px;
  }

  .drupaltp .dplrtimg .lnkdn {
    top: 58px;
    padding: 14px 40px;
    left: 10px;
  }
  .drplcmsct {
    padding-top: 60px;
  }
  .drupaltp .dplrtimg .smrsh {
    padding: 14px 40px;
    right: 10px;
    bottom: -20px;
  }
  .cltchmg {
    padding-bottom: 30px;
  }

  .drplcmsct {
    max-height: max-content;
    overflow: hidden;
  }

  .cmssct .cmssctinr {
    flex-basis: 100%;
  }
  .abts .abtimg {
    padding-bottom: 30px;
  }
  .ddrpl img {
    max-width: max-content;
  }

  .ddrpl {
    text-align: center;
    padding: 20px 0px;
  }

  .exphrs ul li {
    width: 100%;
  }

  .whrsimg img {
    max-width: 80%;
    padding-top: 40px;
  }

  .hquality .hqualitinr.ctnt {
    flex-basis: 100%;
  }

  .hquality {
    flex-wrap: wrap;
    width: 100%;
  }

  .hquality .hqualitinr.imgc {
    flex-basis: 100%;
  }

  .hquality .hqualitinr.imgc .prmntmg {
    text-align: center;
    padding: 20px 0px;
  }
  .dvlpsrvc .lftbg {
    max-width: 600px;
    height: 400px;
  }
  .drplcmsct .drplcmsctinnr {
    flex-basis: 100%;
  }
  .drupaltp {
    padding-bottom: 50px;
  }
  .whyhrs.py-5 {
    padding-top: 0px !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .drupaltp .row {
    flex-direction: column-reverse;
  }

  .drupaltp .heading-main {
    padding-top: 30px;
  }

  .drupaltp .dplrtimg .lnkdn {
    top: 58px;
    padding: 14px 40px;
    left: 100px;
  }

  .drupaltp .dplrtimg .smrsh {
    padding: 14px 40px;
    right: 80px;
    bottom: -20px;
  }
  .cltchmg {
    padding-bottom: 30px;
  }

  .drplcmsct {
    max-height: max-content;
    overflow: hidden;
  }

  .cmssct .cmssctinr {
    flex-basis: 46%;
  }
  .abts .abtimg {
    padding-bottom: 30px;
  }
  .ddrpl img {
    max-width: max-content;
  }

  .ddrpl {
    text-align: center;
    padding: 20px 0px;
  }

  .exphrs ul li {
    width: 100%;
  }

  .whrsimg img {
    max-width: 80%;
    padding-top: 40px;
  }

  .hquality .hqualitinr.ctnt {
    flex-basis: 100%;
  }

  .hquality {
    flex-wrap: wrap;
    width: 100%;
  }

  .hquality .hqualitinr.imgc {
    flex-basis: 100%;
  }

  .hquality .hqualitinr.imgc .prmntmg {
    text-align: center;
    padding: 20px 0px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .drupaltp .dplrtimg .lnkdn {
    padding: 12px 30px;
    top: 60px;
    border-radius: 6px;
  }

  .drupaltp .dplrtimg .smrsh {
    padding: 12px 30px;
    border-radius: 8px;
    right: 30px;
    bottom: -20px;
  }
  .dvlpsrvc .lftbg {
    max-width: 560px;
  }

  .drplcmsct .drplcmsctinnr {
    flex-basis: 40%;
  }

  .drplcmsct {
    max-height: 690px;
  }
  .hquality .hqualitinr.ctnt {
    flex-basis: 65%;
  }
  .exphrs ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .drupaltp .dplrtimg .lnkdn {
    top: 40px;
    padding: 18px 50px;
    left: 60px;
  }

  .drupaltp .dplrtimg .smrsh {
    right: 80px;
  }

  .dvlpsrvc .lftbg {
    max-width: 660px;
  }

  .exphrs ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1800px) {
  .drupaltp .dplrtimg .lnkdn {
    left: -10px;
  }
  .drplcmsct {
    max-height: 680px;
  }
}

/*drupal page end*/
