/*service page*/
.earntraffic {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.earntraffic .earntrafficinr {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: 30%;
  padding: 24px;
  align-items: center;
  transition: 0.3s ease-in-out 0s;
  cursor: pointer;
  border: 1px solid #dfdfdf
}
.earntraffic .earntrafficinr .earntrfcnt {
  text-align: center;
}
.earntraffic .earntrafficinr .earntrfcnt h3 {
  padding: 14px 0px;
  margin-bottom: 0px;
}
.indstrsrv {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.indstrsrv .indstrsrvinr {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: #f9f9f9;
  padding: 20px;
  flex-basis: 48%;
  border-radius: 8px;
}
.indstrsrv .indstrsrvinr h3 {
  position: relative;
  padding-left: 18px;
}
.indstrsrv .indstrsrvinr h3:before {
  content: "";
  width: 10px;
  height: 10px;
  background: linear-gradient(45deg, #1890c9, #4772d4);
  position: absolute;
  top: 11px;
  left: 0;
  border-radius: 50px;
}

.creativeprtfl {
  padding: 0px 80px;
}
.creativeprtfl .creativeprtflinr {
  padding: 0px 20px;
  text-align: center;
}

.creativeprtfl .creativeprtflinr p {
  margin-bottom: 0px;
  padding-top: 12px;
}
.creativeprtfl .slick-arrow {
  background: #fff;
  width: 50px;
  height: 50px;
  border: 1px solid #e2e2e2;
  border-radius: 50px;
}
.creativeprtfl .slick-arrow::before {
  display: none;
}

.creativeprtfl .slick-arrow img {
  transform: scale(0.5);
  position: absolute;
  top: 0;
  left: 0;
}
.creativeprtfl .slick-arrow.slick-next {
  right: -70px;
}

.creativeprtfl .slick-arrow.slick-prev {
  left: -70px;
}

.servteaminr img {
  max-width: max-content;
}

.servteaminr {
  text-align: center;
}
.teamquality .teamqualityinr h4 {
  position: relative;
}
.teamquality .teamqualityinr h4:before {
  content: url(/images/serviceImages/check-arrow.svg);
  position: absolute;
  top: 0;
  left: -40px;
}
.row.qteam {
  align-items: center;
}

.teamquality .teamqualityinr {
  padding: 20px 20px 20px 60px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 56px 0px rgb(0 0 0 / 7%);
}
.teamquality .teamqualityinr h4 {
  font-size: 20px;
  font-weight: 600;
}
.addspartnr h3.color-wt {
  color: #fff;
}

.earntraffic .earntrafficinr:hover {
  border: 1px solid transparent;
  background-color: #fdf6de;
}

.indstrsrv .indstrsrvinr:hover {
  background: #fff;
  border: 1px solid #ddd;
  transition: 0.3s ease-in-out 0s;
}

.indstrsrv .indstrsrvinr {
  border: 1px solid #fff;
}

.service-banner {
  display: flex;
  align-items: center;
  position: relative;
}
.service-right-banner img {
  max-width: 560px;
  margin: auto;
  animation-name: topbottom;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  position: relative;
}

.heading-main h2 span{
  color: #168B9A;
  position: relative;
  display: inline-block;
}
span.dot {
  font-size: 16px;
  font-weight: 600;
}
.maximized{
  position: relative;
}
.maximized .content {
  max-width: 923px;
  margin: auto;
}
.quote-main h4 {
  padding: 14px 0px;
  border-radius: 0px;
  margin: 0px;
  border: 2px solid #47C7D8;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  color: #47C7D8;
}
.quote-content {
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #E8E8E8;
  padding: 20px;
  background: #F5F8FA;
}
.quote-content label textarea, .quote-content label {
  width: 100%;
}
.quote-content .merge-main label {
  width: 47%;
  margin-bottom: 20px;
}
.merge-main input {
  width: 100%;
  padding: 8px 12px;
  margin-top: 6px;
  border: 1px solid #CBD6E2;
  border-radius: 3px;
  background-color: transparent;
}
.quote-content ul li {
  padding: 0px 0px 10px 22px;
  position: relative;
  background-image: url(/images/serviceImages/Checkmark.png);
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: left 5px;
  font-size: 18px;
}
.reverse {
  flex-direction: row-reverse;
}
.process-main {
  background: linear-gradient(90deg, #F5F7FE 0%, #F7FCFF 100%);
  position: relative;
  z-index: 0;
}
.process-main .content ul li {
  position: relative;
  padding: 0px 0px 20px 60px;
}
.process-main .content ul li::before {
  content: "";
  position: absolute;
  left: 18px;
  width: 1px;
  border-right: 1px dashed #8B99B0;
  top: 54px;
  bottom: 0;
  height: 40%;
}
.process-main .content ul li:last-child::before {
  display: none;
}
.heading-main.heading-content span.para {
  max-width: 1140px;
  margin: 0px auto 30px;
  display: inline-block;
}
.process-main span.number {
  border: 1px solid #DCE3EE;
  width: 35px;
  height: 35px;
  line-height: 35px;
  display: inline-block;
  text-align: center;
  border-radius: 50px;
  background: #EEF2F7;
  position: absolute;
  left: 0;
  top: 0;
}
.process-main::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(90deg, #F5F7FE 0%, #F7FCFF 100%);
  z-index: -1;
}

ul.toolsicon-list li img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin: 8px 0px 20px;
}
ul.toolsicon-list {
  flex-wrap: wrap;
  justify-content: center;
}
ul.toolsicon-list li {
  width: 23%;
  text-align: center;
  box-shadow: 0px 4px 15px 0px #0000000D;
  background: #F1F2F2;
  padding: 15px;
  margin: 7px;
  transition: 0.3s ease-in-out 0s;
}
ul.toolsicon-list li:hover{
  box-shadow: none;
}
.digital-marketing .container {
  max-width: 100%;
  margin: auto;
  padding: 0px;
}
.digital-marketing .container .row {
  max-width: 100%;
  width: 100%;
  margin: 0px;
}
.digital-marketing .container .row .card-content {
  max-width: 1320px;
  margin: auto;
  padding: 0px 20px;
}
.digital-marketing .image img {
  width: auto;
}
form.quote-form .merge-main {
  display: flex;
  justify-content: space-between;
}
.quote-content label textarea {
  border: 1px solid #CBD6E2;
  min-height: 100px;
  background-color: transparent;
  border-radius: 3px;
  padding: 8px 12px;
  margin-top: 6px;
}
.quote-content h5 span {
  padding-left: 6px;
}
.quote-content h5 img {
  width: 100%;
  padding-right: 8px;
  max-width: 28px;
}
.process-main .image img {
  width: auto;
}
.boost-ranking video {
  border-radius: 12px;
  width: 100%;
}
.quote-content h5 {
  margin: 0px 0px 15px 0px;
}
/* faq style start */
.faq-content .accordionNew {
width: 100%;
padding: 12px 40px 12px 12px;
border: 1px solid #20a0b1;
margin: 22px 0px 0px;
position: relative;
}

.faq-content .accordionNew span {
position: absolute;
right: 20px;
font-size: 30px;
font-weight: 300;
top: 5px;
}
.faq-content .accordionNew.active div {
color: #fff;
}
.faq-content .accordionNew.active span{
color: #fff;
}
.faq-content .accordionNew .accContentMain {
margin-top: 26px;
}
.faq-content .accordionNew .according-heading {
font-size: 20px;
font-weight: 500;
}
.faq-content .accordionNew.active {
background-color: #20a0b1;
border-color: #20a0b1;
}
.faq-content .accordionNew .according-heading {
font-size: 20px;
font-weight: 500 !important;
font-family: var(--font-outfit);
}


.servteaminr img, .process-main .image img {
width: 100%;
max-width: 450px;
}
.digital-marketing .image {
text-align: center;
}
.digital-marketing .image img {
width: 100%;
/* max-width: 340px; */
margin: auto;
}

.counter-main .container .row:last-child {
justify-content: center;
margin-top: 32px;
}
.counter-main .explore-btn {
border-radius: 50px;
display: flex;
width: auto;
padding: 12px 30px;
}
.service-counter .heading-main p {
margin: 12px auto 20px;
font-weight: 500;
}
@keyframes topbottom {
  0%   {top:0px;}
  25%  {top:4px;}
  50%  {top:8px;}
  75%  {top:4px}
  100% {top: 2px;}
}

/****Web Development Service start*****/
.service-banner.web-banner .heading-main h2{
  max-width :100%;
}
.service-banner.web-banner{
  position: relative;
}
.web-company {
  background-image: url(/images/webimages/expert-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 140px;
  background-attachment: fixed; 
}
.customized-approach{
  padding: 60px 0px;
  position: relative;
}
form.web-connect {
  padding: 20px;
  background-color: rgb(255 255 255 / 20%);
  border-radius: 20px;
}
.merge label input {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  border: 0px;
}
.merge {
  display: flex;
  justify-content: space-between;
}
.merge label {
  width: 49%;
  margin-bottom: 13px;
}
textarea.project-requiremnt {
  width: 100%;
  min-height: 100px;
  padding: 12px;
}
label.fileupload input {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
}
form.web-connect label.fileupload img {
  width: 24px;
  padding-right: 6px;
}
form.web-connect label.fileupload {
  width: 100%;
  border: 2px dashed #fff;
  padding: 9px;
  margin-top: 12px;
  color: #fff;
  position: relative;
  display: flex;
}
form.web-connect input[type="submit"] {
  background-color: #25C1D5;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 50px;
  margin-top: 12px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s ease-in-out 0s;
  position: relative;
  overflow: hidden;
  border: 0px;
}
form.web-connect label.submit {
  display: block;
  text-align: left;
  margin-top: 11px;
}
.counter-min {
  background-color: #fff;
  padding: 42px 0px;
  text-align: center;
  position: relative;
  border-radius: 30px;
  box-shadow: 0px 4px 30px rgb(0 0 0 / 20%);
  margin-bottom: -102px;
}

.hub-counting span.index-module_slot_wrap__ZT-DX >span, .counter-sub label span {
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 10px;
  line-height: normal !important;
  font-family: var(--font-outfit);
  color: #26C6DA !important;
  display: inline-block;
}

.counter-sub {
  border-right: 1px solid #DDDDDD;
}
.counter-min .counter-sub:last-child {
  border-right: 0px;
}
.web-company ul li {
  padding: 2px 4px 12px 29px;
  position: relative;
  background-image: url(/images/webimages/Checkmark.svg);
  background-repeat: no-repeat;
  background-position: 0px 5px;
}
.web-framework .image-content .image{
  height: 100%;
  position: relative;
}
.web-framework .image-content .image img {
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.web-framework .content img {
  width: 26px;
  position: relative;
}
.web-framework .image-content {
  position: relative;
  height: 100%;
  padding-bottom: 26px;
  height: 320px;
}
.web-framework .content p {
  margin: 15px 0px 0px;
}
.contentimg {
  width: 60px;
  height: 60px;
  background-color: #168B9A;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.web-framework .image-content .image::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  border-radius: 8px;
  opacity: 0.66;
  transition: 0.3s ease-in-out 0s;
}

.web-framework .content {
  position: absolute;
  bottom: 0px;
  left: 0;
  padding: 18px;
  transition: 0.3s ease-in-out 0s;
}
.webdev-process ul li {
  width: 25%;
  margin: 0px 0px 40px 0px;
}
.webdev-process ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.webdev-process, .pillar-main, .partnering-main {
  padding: 60px 0px 40px;
  position: relative;
  background-image: url(/images/bg-dots.webp);
}
.webdev-process .icon-content img {
  margin: 0px 0px 20px;
  height: 52px;
}
.webdev-process .icon-content {
  width: 220px;
  margin: auto;
  background-color: #fff;
  padding: 22px 8px;
  border-radius: 20px;
  position: relative;
  transition: 0.3s ease-in-out 0s;
  height: 100%;
}
.webdev-process .icon-content:hover {
  box-shadow: -5px -6px #168b9a inset;
}
.webdev-process .icon-content:hover span.number {
  box-shadow: 0 -4px #8f8f8f inset;
}
.webdev-process .icon-content span.number {
  background-color: #168B9A;
  top: -10px;
  color: #fff;
  left: -10px;
}
.logoicon-img .image {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
  border-radius: 12px;
  margin: auto auto 8px auto;
}
.logoicon-img::before {
  content: "";
  position: absolute;
  background-image: url(/images/webimages/line.svg);
  width: 133px;
  height: 343px;
  top: 0;
  bottom: 0;
  left: -50px;
  background-repeat: no-repeat;
  background-size: 183px;
  background-position: right center;
}
.reverse .logoicon-img {
  padding-left: 20px;
  padding-right: 100px;
}
.logoicon-img ul li {
  width: 30%;
  transition: 0.3s ease-in-out 0s;
}
.reverse .logoicon-img::before {
  left: auto;
  right: -50px;
  transform: rotate(180deg);
}
.logoicon-img {
  padding-left: 100px;
  position: relative;
}
.logoicon-img .image img {
  width: 52px;
}

.web-scalable .col-sm-6.image img {
  width: 100%;
  max-width: 600px;
}
.web-scalable .col-sm-6.image p {
  font-weight: 600;
}
.pillar-main img {
  width: 100%;
  max-width: 930px;
}
.logoicon-img ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
.web-development-stations-wrap {
  max-width: 1170px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}
.inner-flex-statins-list {
  width: 50%;
  display: block;
  text-align: left;
  padding: 35px;
}
.inner-flex-statins-list img {
  width: 74px;
  display: block;
  margin: 0 0 15px 0;
}
.station-develop-title {
  display: block;
  margin: 0 0 10px 0;
}
.web-development-stations-wrap >div:first-child, .web-development-stations-wrap >div:nth-child(4), .web-development-stations-wrap >div:nth-child(5) {
  background-color: #fffbed;
}

.our-success-dev-wrap {
  padding: 60px 0px;
 position: relative;
}
.wrap-align-dev-succes {
  align-items: center;
}
.succes-stories-item-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.dev-stories-succes-title {
font-size: 34px;
line-height: 46px;
display: block;
margin: 0 0 15px 0;
font-weight: 400;
}
.dev-stories-succes-title span {
position: relative;
font-weight: 800;
color: #168B9A;
}
.dev-stories-succes-title span::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0;
  height: 17px;
  z-index: -1;
  background-image: linear-gradient(45deg, #D9E6E8, #FFFFFF);
  animation: colormove 2s infinite;
}
.dev-success-tbn {
  background-color: #25C1D5;
  padding: 10px 40px;
  display: inline-block;
  border-radius: 50px;
  margin-top: 12px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s ease-in-out 0s;
  position: relative;
  overflow: hidden;
}
.inner-list-dev-succes-stories {
  width: 48%;
  background: #FFF;
  padding: 20px;
  box-shadow: 0 0 40px #03080f14;
  border-radius: 10px;
  transition: 0.5s;
}
.inner-list-dev-succes-stories:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.inner-list-dev-succes-stories img {
  width: 100%;
  display: block;
  margin: 0 0 20px 0;
}
.inner-list-dev-succes-stories label {
  display: block;
  margin: 0 0 10px 0;
  font-size: 14px;
  color: #03080F;
  line-height: 16.8px;
}
.inner-list-dev-succes-stories h5 {
  margin: 0 0 10px 0;
}
.inner-list-dev-succes-stories p {
  font-size: 14px;
  display: block;
  margin: 0 0 10px 0;
  color: #03080F;
  line-height: 23px;
}
.arrow-click-success-stories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #168B9A;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
}
.arrow-click-success-stories img {
  width: 10px;
  margin: 0;
}
.partnering-right ul li:last-child {
  margin-bottom: 0px;
}
.partnering-right ul li {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
  padding-left: 80px;
}
.partnering-right ul li .image-icon{
  position: absolute;
  left: 0;
}
.partnering-main::after {
  content: "";
  position: absolute;
  left: 0;
  width: 50%;
  top: 0;
  bottom: 0;
  background-color: rgb(0 0 0 / 90%);
  z-index: 0;
}
.partnering-left {
  position: relative;
  z-index: 1;
}
.partnering-left ul li {
  padding: 0px 0px 10px 32px;
  background-image: url(/images/webimages/Checkmark.svg);
  background-repeat: no-repeat;
  background-position: left top;
}
.partnering-right {
  padding-left: 30px;
}
.partnering-right .content-icon h6 {
  font-size: 24px;
  font-weight: 600;
}   
.partnering-right .content-icon p {
  margin: 0px;
  color: #6D6D6D;
}
.devbusiness{
  padding: 0px 20px;
}

/****Web Development Service end*****/
/****hubspot development start***/
#hubsptbanner {
  position: relative;
  overflow: hidden;
  padding: 80px 0px 35px 0px;
}
.hubsptbanner.service-banner .heading-main h1 {
  max-width :100%;
}
#hubsptbanner:before {
  content: "";
  position: absolute;
  background: url(/images/hubspot-bac.png);
  top: 0px;
  left: 0px;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
#hubsptbanner .row {
  align-items: center;
}
#hubsptbanner h3 {
  font-weight: 700;
}
#hubsptbanner p.unls {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  padding-top: 10px;
}
.servdvlpmnt {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.servdvlpmnt .serdvinnr {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: 30%;
  padding-bottom: 30px;
}

.servdvlpmnt .serdvinnr .servcntr {
  font-size: 20px;
  font-weight: 700;
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 15px;
}

.servdvlpmnt .serdvinnr .servcntr:after {
  content: "";
  width: 80px;
  height: 3px;
  background: #26c6da;
  position: absolute;
  bottom: 0;
  left: 0;
}
#hbstdvlpmnt {
  padding: 70px 0px;
  position: relative;
}
#hbstdvlpmnt::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #f7f7f7;
  z-index: -1;
}
#serviceprovide {
  padding: 80px 0px;
}
#hbstdvlpmnt:before {
  content: "";
  background: #f7f7f7;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.webqstnt {
  display: flex;
}

.webqstnt .webqstinnr {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: 40%;
}

.webqstnt .webqstinnr.center {
  flex-basis: 20%;
}
.linecenter {
  width: 1px;
  height: 960px;
  border: 1px dashed #000;
  margin: 0 auto;
}
.qstbox, .boost-ranking.hub-ranking {
  position: relative;
}

.qstbox.right {
  text-align: right;
  padding-right: 120px;
}
.qstbox.left {
  text-align: left;
  padding-left: 120px;
}

.nmbrght span.nmmb {
  color: #000;
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 50px;
  border: 2px solid #26c6da;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.nmbrght span p {
  color: #000;
  font-size: 24px;
  margin-bottom: 0px;
}
.nmbrght {
  position: absolute;
  top: 0;
  right: 0;
}
.nmbrlft {
  position: absolute;
  top: 0;
  left: 0;
}
.qstbox.wrfm {
  margin: 100px 0px;
}

.nmbrlft span.nmmb {
  color: #000;
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 50px;
  border: 2px solid #26c6da;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.nmbrlft span p {
  color: #000;
  font-size: 24px;
  margin-bottom: 0px;
}
.nmbrlft {
  position: absolute;
  top: 0;
  right: 0;
}
.webqstnt .webqstinnr.right {
  padding-top: 140px;
}
.webqstnt .webqstinnr.left {
  margin-top: 20px;
}
.nmbrght span.line {
  width: 150px;
  height: 1px;
  border: 1px dashed #000;
  position: absolute;
  top: 40px;
  left: 60px;
  z-index: -1;
}
.nmbrlft span.line {
  width: 150px;
  height: 1px;
  border: 1px dashed #000;
  position: absolute;
  top: 40px;
  left: -128px;
  z-index: -1;
}
#brdindstries {
  padding: 80px 0px;
}
.indrngservimg img {
  max-width: 65px;
  height: 50px;
  object-fit: contain;
}
.indrngserv .indrngservinnr {
  background: #fafafa;
  border: 1px solid #e8e8e8;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: 30%;
  margin: 10px;
  transition: 0.3s ease-in-out 0s;
}
.indrngserv .indrngservinnr:hover {
  box-shadow: 0px 3px 3px #8b8b8b38;
}
.indrngserv {
  display: flex;
  padding-top: 50px;
  align-items: flex-start;
}

.indrngserv .indrngservinnr .indrngservcnnct {
  padding-top: 14px;
}

.indrngserv .indrngservinnr:first-child {
  margin-left: 0px;
}

.indrngserv .indrngservinnr:last-child {
  margin-right: 0px;
}
.indrngserv .indrngservinnr:nth-child(2) {
  margin-top: 50px;
}

.indrngserv .indrngservinnr:nth-child(3) {
  margin-top: 100px;
}

.indrngserv .indrngservinnr:nth-child(4) {
  margin-top: 150px;
}
.hubsptbanner.service-banner {
  background-image: url(/images/hubspotimages/hubspot-banner-outside.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.counter-main::before{
display: none;
}
#hubsptcrmsct {
  position: relative;
  overflow: hidden;
  padding: 80px 0px 80px 0px;
}
#hubsptcrmsct:before {
  content: "";
  position: absolute;
  background: url(/images/hubspotimages/hubspot_crm_Bg.svg);
  top: 0px;
  left: 0px;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
  z-index: -1;
}
.sclbarchtct .sclbarchtctinr {
  position: relative;
  padding-left: 15px;
  margin-top: 60px;
}

.sclbarchtct .sclbarchtctinr:before {
  content: "";
  width: 4px;
  background: #26c6da;
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  border-radius: 10px;
}
.sclbarchtct .sclbarchtctinr:first-child {
  margin-top: 0px;
}
.sclbarchtct .sclbarchtctinr:nth-child(1) {
  margin-left: 120px;
}
.sclbarchtct .sclbarchtctinr:nth-child(2) {
  margin-left: 80px;
}
.sclbarchtct .sclbarchtctinr:nth-child(3) {
  margin-left: 40px;
}
#hubsptcms {
  padding: 70px 0px;
}
.hbperfimg img, .hbbtmgs img {
  max-width: 100%;
}
.hbbtmgs img{
  animation: zoom 3s alternate-reverse infinite ;
}
.hbstexprts {
  display: flex;
  padding-top: 50px;
  align-items: center;
}
.hbstexprts h5 {
  font-weight: 500;
}

.hbstexprts .hbstexprtsinr {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: 33%;
  padding: 0px 15px;
}

.hbstexprts .hbstexprtsinr.left .hbperfrm {
  text-align: right;
  padding-right: 76px;
}
.hbstexprts .hbstexprtsinr.right .hbperfrm {
  text-align: left;
  padding-left: 76px;
}

.hbstexprts .hbstexprtsinr .hbperfrm {
  position: relative;
}
.hbstexprts .hbstexprtsinr.left .hbperfrm.right .hbperfimg {
  position: absolute;
  top: 10px;
  right: 9px;
}
.hbstexprts .hbstexprtsinr.right .hbperfrm.left .hbperfimg {
  position: absolute;
  top: 10px;
  left: 10px;
}
.hbstexprts .hbstexprtsinr .hbbtmgs {
  text-align: center;
}
.hbstexprts .hbstexprtsinr .hbperfrm {
  padding-bottom: 20px;
}
.hbstexprts .hbstexprtsinr.left .hbperfrm:after {
  content: "";
  width: 1px;
  height: 60%;
  border: 1px dashed #888;
  position: absolute;
  top: 70px;
  right: 30px;
  z-index: -1;
}
.hbstexprts .hbstexprtsinr.left .hbperfrm.lst:after {
  display: none;
}
.hbstexprts .hbstexprtsinr.right .hbperfrm:after {
  content: "";
  width: 1px;
  height: 60%;
  border: 1px dashed #888;
  position: absolute;
  top: 70px;
  left: 30px;
  z-index: -1;
}
.hbstexprts .hbstexprtsinr.right .hbperfrm.lst:after {
  display: none;
}
#ourTeamhbspt {
  padding: 80px 0px;
  position: relative;
}
#ourTeamhbspt:before {
  content: "";
  background: #f7f7f7;
  z-index: -1;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.svypmng {
  display: flex;
  flex-wrap: wrap;
}

.hbstsct {
  display: flex;
  align-items: center;
  position: relative;
}

.svypmng .svypmnginr {
  max-width: 750px;
  position: relative;
  padding-left: 50px;
}

.svypmng .svypmnginr h4 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 500;
}

.svypmng .svypmnginr:before {
  content: "";
  width: 26px;
  height: 4px;
  background: #26c6da;
  position: absolute;
  top: 14px;
  left: 0;
}
.hbstm img {
  max-width: max-content;
}
.hbstm{
  width: 40%;
}
.svypmng {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}

.hbstsct {
  position: relative;
  padding: 50px 0px;
}

.svypmng .svypmnginr {
  max-width: 750px;
  position: relative;
  padding-left: 50px;
}

.svypmng .svypmnginr h4 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 500;
}

.svypmng .svypmnginr:before {
  content: "";
  width: 26px;
  height: 4px;
  background: #26c6da;
  position: absolute;
  top: 14px;
  left: 0;
}

.svypmng .svypmnginr:nth-child(2), .svypmng .svypmnginr:nth-child(4) {
  position: relative;
  left: 110px;
  margin: 30px 0px;
  max-width: 550px;
}

.svypmng .svypmnginr:nth-child(3) {
  margin-left: 210px;
}
.hbperfimg img {
  max-width: 44px;
}
.hub-icons ul {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
.hub-icons ul li img {
margin-right: 12px;
}
.hub-icons ul li {
width: 48%;
margin: 0px 0px 16px;
padding: 12px;
background-color: #fff;
display: flex;
align-items: center;
position: relative;
z-index: 1;
}
.hub-icons ul li::before {
content: "";
position: absolute;
left: 0;
width: 39px;
height: 100%;
top: 0;
bottom: 0;
background-color: #25c1d5;
z-index: -1 ;
}
.hub-icons ul li p {
margin: 0px;
}
.content-right.form .quote-main h4 {
color: #fff;
}
.content-right.form .quote-main {
background-color: #26C6DA;
}
.quote-content {
border-color: #F8F8F8;
background: #F8F8F8;
}
.quote-content form.quote-form .merge-main input,
.quote-content form.quote-form textarea {
border: 1px solid #E7E7E7;
background-color: #FFFFFF;
}
.webguruz-Faq {
padding-top: 60px;
}
.digital-marketing .container .row:nth-child(even) {
background-color: #F9FBFC;
}
.webqstinnr.left .qstbox.left {
display: none;
}
.webdev-process .icon-content span.number {
background-color: #168B9A;
top: -10px;
color: #fff;
left: -10px;
position: absolute;
width: 46px;
height: 46px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50px;
border: 6px solid #fff;
}




/* hubspot development end */

/* cms page start */
.drupaltp {
padding: 50px 0px 80px 0px;
position: relative;
}
.drupaltp:before {
content: "";
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
background-image: linear-gradient(45deg, #f7fafb, #f9fbfc);
z-index: -1;
}
.drupaltp .dplrtimg img {
max-width: max-content;
}
.drupaltp .dplrtimg {
position: relative;
}
.drupaltp .dplrtimg .lnkdn {
position: absolute;
top: 130px;
left: 30px;
background: #fff;
padding: 18px 66px;
border-radius: 12px;
box-shadow: inset 1px 1px 3px #ddd;
}
.drupaltp .dplrtimg {
text-align: center;
}
.drupaltp .dplrtimg .smrsh {
position: absolute;
bottom: -30px;
right: 0px;
background: #fff;
padding: 18px 46px;
border-radius: 12px;
box-shadow: inset 1px 1px 3px #ddd;
}
.drupaltp .row {
align-items: center;
}
.drupaltp .heading-main h5 {
padding: 10px 0px;
font-size: 20px;
font-weight: 600;
}
.scrfrm {
background-image: url(/images/webimages/expert-bg.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
}
.drpldvlpmnt ul {
margin: 0;
padding: 0;
display: flex;
flex-wrap: wrap;
}

.drpldvlpmnt ul li {
list-style: none;
display: flex;
border: 1px solid rgb(255 255 255 / 30%);
padding: 12px;
border-radius: 50px;
margin: 0px 4px 12px 0px;
align-items: center;
}

.drpldvlpmnt ul li img {
max-width: 20px;
}
.drpldvlpmnt ul li p {
  margin: 0px 0px 0px 5px;
  color: #fff;
  font-size: 16px;
}
.drpldvlpmnt ul li:hover {
background: #fff;
}

.drpldvlpmnt ul li:hover p {
color: #383838;
}

.drpldvlpmnt ul li:hover img {
filter: invert(1);
}
.cltchmg ul {
margin: 0;
padding: 0;
}

.cltchmg ul li {
list-style: none;
display: inline-block;
padding-right: 18px;
}

.cltchmg ul li img {
max-width: max-content;
}

.cltchmg {
padding-top: 30px;
}
.drplcmsct .dplrimg img {
max-width: 60px;
}
.drplcmsct .dplrimg img {
max-width: 60px;
}
.dvlpsrvc {
overflow: hidden;
}
.dvlpsrvc .container {
position: relative;
}
.dvlpsrvc .lftbg {
width: 776px;
max-width: 100%;
height: 713px;
background: #26c6da;
position: absolute;
top: 0;
left: -290px;
z-index: -1;
border-radius: 20px;
}
.dvlpsrvc .heading-main {
padding-top: 38px;
}
.dvlpsrvc .heading-main h3 {
padding-bottom: 12px;
font-weight: 500;
}
.dvlpsrvc .drplimg {
padding-left: 40px;
}

.dvlpsrvc .drplimg img {
border-radius: 20px;
}
.drplcmsct {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.drplcmsct .drplcmsctinnr {
display: flex;
flex-wrap: wrap;
flex-direction: column;
flex-basis: 41%;
position: relative;
margin: 20px 20px 40px 20px;
box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
padding: 25px;
border-radius: 20px;
background: #fff;
}
.drplcmsct .drplcmsctinnr p {
font-size: 16px;
line-height: 26px;
}
.drplcmsct .drplcmsctinnr:before {
width: 60px;
height: 60px;
position: absolute;
top: -30px;
left: -20px;
z-index: -1;
}
.drplcmsct .drplcmsctinnr.dr1::before {
content: url(/images/drupalimg/dr1.svg);
}
.drplcmsct .drplcmsctinnr.dr2::before {
content: url(/images/drupalimg/dr2.svg);
}
.drplcmsct .drplcmsctinnr.dr3::before {
content: url(/images/drupalimg/dr3.svg);
}
.drplcmsct .drplcmsctinnr.dr4::before {
content: url(/images/drupalimg/dr4.svg);
}
.drplcmsct .drplcmsctinnr.dr5::before {
content: url(/images/drupalimg/dr5.svg);
}
.drplcmsct .drplcmsctinnr.dr6::before {
content: url(/images/drupalimg/dr6.svg);
}
.drplcmsct .drplcmsctinnr.dr7::before {
content: url(/images/drupalimg/dr7.svg);
}
.drplcmsct .drplcmsctinnr.dr8::before {
content: url(/images/drupalimg/dr8.svg);
}
.cmssct .cmslimg img {
max-width: 54px;
}
.comprhsvprt {
position: relative;
}

.comprhsvprt:before {
content: "";
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
background-image: linear-gradient(45deg, #f7fafb, #f9fbfc);
z-index: -1;
}
.comprhsvprt {
position: relative;
padding: 80px 0px;
}

.comprhsvprt:before {
content: "";
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
background-image: linear-gradient(45deg, #f7fafb, #f9fbfc);
z-index: -1;
}

.cmssct {
display: flex;
flex-wrap: wrap;
}

.cmssct .cmssctinr {
display: flex;
flex-wrap: wrap;
flex-direction: column;
flex-basis: 30%;
background: #fff;
padding: 20px;
margin: 10px;
border-radius: 20px;
border: 1px solid #ebebeb;
}
.cmssct .cmssctinr .cmslcnt h3 {
padding-top: 20px;
}
.drplscl1 {
position: relative;
padding: 80px 0px;
}
.drplscl1:before {
content: "";
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
background-image: linear-gradient(45deg, #f7fafb, #f9fbfc);
z-index: -1;
}
.prminentprt {
position: relative;
padding: 80px 0px;
}
.prminentprt::before {
content: "";
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
background-image: linear-gradient(45deg, #f7fafb, #f9fbfc);
z-index: -1;
}
.drplscl .heading-main {
padding-bottom: 40px;
}
.prmntmg img {
max-width: max-content;
text-align: center;
animation: zoom 3s alternate-reverse infinite;
}
.hquality {
width: 94%;
margin: 0 auto;
display: flex;
align-items: center;
padding-top: 20px;
}

.hquality .hqualitinr {
display: flex;
flex-wrap: wrap;
flex-direction: column;
}

.hquality .hqualitinr.ctnt {
flex-basis: 30%;
padding: 0px 30px;
}

.hquality .hqualitinr.imgc {
flex-basis: 40%;
padding: 0px 0px;
}

.hquality .hqualitinr .hqltinr {
padding: 10px 0px;
}

.whrsimg img,
.abtimg img {
max-width: max-content;
}
.whrsimg,
.abtimg {
text-align: center;
}

.exphrs ul {
margin: 0;
padding: 0;
}

.exphrs ul li {
display: inline-block;
width: 50%;
padding-bottom: 10px;
position: relative;
font-size: 16px;
line-height: 26px;
padding-left: 30px;
}
.exphrs ul li::before {
content: url(/images/drupalimg/arrow.png);
position: absolute;
top: 2px;
left: 0;
}
.drplcmsct {
overflow-y: scroll;
max-height: 790px; /* Adjust height as necessary */
transition: opacity 0.3s ease-in-out;
padding-top: 30px;
}
/* Firefox */ /* IE and Edge */
.drplcmsct {
scrollbar-width: none;
-ms-overflow-style: none; 
}
/* Chrome, Safari, WebKit-based browsers */
.drplcmsct::-webkit-scrollbar {
display: none; 
}

.quote-main h4 {
padding: 14px 0px;
border-radius: 0px;
margin: 0px;
border: 2px solid #47c7d8;
font-size: 20px;
font-weight: 700;
line-height: 28px;
text-align: center;
color: #47c7d8;
}

.quote-content {
border-width: 0px 1px 1px 1px;
border-style: solid;
border-color: #e8e8e8;
padding: 20px;
background: #f5f8fa;
}
.quote-content .merge-main label {
width: 47%;
margin-bottom: 20px;
}
.merge-main input {
width: 100%;
padding: 8px 12px;
margin-top: 6px;
border: 1px solid #cbd6e2;
border-radius: 3px;
background-color: transparent;
}
form.quote-form .merge-main {
display: flex;
justify-content: space-between;
}
.quote-content label textarea,
.quote-content label {
width: 100%;
}
.quote-content label textarea {
border: 1px solid #cbd6e2;
min-height: 100px;
background-color: transparent;
border-radius: 3px;
padding: 8px 12px;
margin-top: 6px;
}
.hbstexprts.cmswbsltn .hbstexprtsinr.right {
flex-basis: 100%;
}

.hbstexprts.cmswbsltn .hbstexprtsinr.right .hbperfimg span {
font-size: 16px;
background: #fff;
display: block;
}

.cmsrgt {
display: flex;
flex-wrap: wrap;
}

.cmsrgt .cmsrgtinr {
display: flex;
flex-wrap: wrap;
flex-direction: column;
flex-basis: 100%;
position: relative;
text-align: left;
padding-left: 76px;
padding-bottom: 40px;
}

.cmsrgt .cmsrgtinr .cmsnmbr {
position: absolute;
top: 10px;
left: 0;
width: 60px;
height: 60px;
background: #26c6da;
border-radius: 50px;
align-items: center;
display: flex;
justify-content: center;
color: #fff;
outline: 1px dashed #888888;
border: 2px solid #fff;
}

.cmsrgt .cmsrgtinr .cmsnmbr span.nmbr {
color: #fff;
font-size: 16px;
line-height: 26px;
font-weight: 700;
}
.cmsrgtinr {
position: relative;
}
.cmsrgtinr:before {
content: "";
width: 1px;
height: 60%;
border: 1px dashed #888;
position: absolute;
top: 70px;
left: 30px;
z-index: -1;
}

.cmsrgt .cmsrgtinr:last-child::before {
display: none;
}
.drplscl1 .heading-main {
padding-bottom: 20px;
}

.drplscl1 .ddrpl {
max-width: 80%;
margin: 0 auto;
}

.cmsrgt .cmsrgtinr:last-child {
padding-bottom: 0px;
}
/* cms page end */
/* seo page start */

.seo-industry ul li img {
width: 100%;
max-width: 73px;
height: 70px;
object-fit: contain;
}
.seo-industry ul li {
text-align: center;
width: 24%;
background-color: #FAFAFA;
margin: 0px 5px 12px;
padding: 19px;
border: 1px solid rgb(22 139 154 / 28%);
}
.seo-industry ul {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}
.button-merge button.explore-btn.without-bg {
background-color: transparent;
border: 1px solid #25c1d5;
color: #25c1d5;
margin: 0px 0px 0px 10px;
padding: 12px 23px;
}
.button-merge button.explore-btn{
margin: 0px 10px 10px;
}
.seo-counter-main ul li h4 {
font-size: 45px;
font-weight: 600;
color: #25c1d5;
}
.counter-main-seo ul li p {
margin: 16px 0px 0px 0px;
font-size: 18px;
}
.counter-main-seo ul li {
width: 48%;
border: 1px solid #25c1d5;
padding: 18px 12px;
text-align: center;
}
.counter-main-seo ul {
display: flex;
flex-wrap: wrap;
row-gap: 12px;
column-gap: 12px;
}
.counter-main-seo {
position: relative;
}
.counter-main-seo  ul li:hover h4, .counter-main-seo  ul li:hover p {
color: #fff;
}
.counter-main-seo  ul li:hover {
background-color: #25c1d5;
}
.seo-card {
border: 1px solid #EBEBEB;
padding: 30px 20px 20px;
box-shadow: 0px -2px 21px rgb(0 0 0 / 8%);
height: 100%;
transition: 0.3s ease-in-out 0s;
margin-bottom: 20px;
}
.seo-card:hover {
box-shadow: none;
}
.seo-card img {
margin-bottom: 20px;
height: 160px;
object-fit: contain;
}
.card-seo-process p {
margin: 10px 0px 0px 0px;
}
.card-seo-process {
border: 1px solid #26C6DA;
padding: 36px 15px 20px;
background-color: #F9F9F9;

}
.seomangement .swiper-pagination-bullet-active {
background-color: #26c6da;
}
.seomangement .swiper.swiper-initialized.swiper-horizontal {
padding: 32px 20px 0px;
}
.card-seo-process:hover .number {
box-shadow: none;
}
.card-seo-process span.number {
width: 60px;
height: 40px;
border-radius: 0px;
top: -15px;
border: 0px;
background-color: #26C6DA;
color: #fff;
display: flex;
align-items: center;
justify-content: center;
font-size: 18px;
box-shadow: 0px 2px 3px rgb(0 0 0 / 25%);
transition: 0.3s ease-in-out 0s;
position: absolute;
}
span.nmmb p {
  margin: 0px;
}
/* seo page end */
/* flip card css start */
.flip-card {
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 8px;
}
.flip-card-back p {
  margin: 0px;
  color: #fff;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-back {
  background-color: #168b9a;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  padding: 15px;
}
.flip-image-right .flip-card.image-content {
  height: 640px;
}
.crportflio img {
  height: 279px;
  object-fit: cover;
}
.get-quote-form li.caption {
  padding-right: 12px;
  font-size: 13px;
  margin-right: 12px;
}
.cltchmg ul li img {
  width: 110px;
  filter: invert(1);
  height: 72px;
  padding: 4px;
  object-fit: contain;
}
/* flip card css end */
/* media query */
@media(max-width: 1400px){
  .svypmng .svypmnginr:nth-child(2), .svypmng .svypmnginr:nth-child(4) {
      left: 48px;
      margin: 30px 0px;
      max-width: 380px;
  }
  .nmbrght span.line {
      width: 129px;}
      .nmbrlft span.line {
          width: 110px;
          left: -111px;
      }
      .hbstexprts .hbstexprtsinr.left .hbperfrm.right .hbperfimg {
        top: 0px;
        right: 14px;
    }
    .hbstexprts .hbstexprtsinr.right .hbperfrm.left .hbperfimg {
      top: 0;
      left: 14px;
  }
  .web-framework .image-content{
    height: 260px;
  }
  .flip-image-right .flip-card.image-content {
    height: 520px;
}   
}
@media(max-width: 1199px){
  ul.toolsicon-list li {
      width: 23%;
  }
  .webdev-process .icon-content {
      width: 146px;
      margin: auto;
  }
  .logoicon-img::before {
      width: 81px;
      height: 343px;
      left: -46px;
  }
  .logoicon-img {
      padding-left: 40px;
  }
  .reverse .logoicon-img{
      padding-right: 40px;
  }
  .nmbrght span.line {
    width: 116px;
}
.nmbrlft span.line {
    width: 92px;
    left: -96px;
}
.seo-counter-main ul li h4 {
  font-size: 24px;
}
.counter-main-seo ul li p {
  margin: 12px 0px 0px 0px;
  font-size: 16px;
}.counter-main-seo ul {
  row-gap: 8px;
  column-gap: 8px;
}
}
@media only screen and (min-width: 1200px) and (max-width: 1800px) {
.drupaltp .dplrtimg .lnkdn {
  left: -10px;
}
.drplcmsct {
  max-height: 680px;
}
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
.drupaltp .dplrtimg .lnkdn {
  top: 40px;
  padding: 18px 50px;
  left: 60px;
}

.drupaltp .dplrtimg .smrsh {
  right: 80px;
}

.dvlpsrvc .lftbg {
  max-width: 660px;
}

.exphrs ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
}
@media(max-width: 991px){
.nmbrlft span.line,  .nmbrght span.line, .webqstnt .webqstinnr.center{
  display: none;
}

.webqstinnr.left .qstbox.left {
display: block;
}
.webqstnt .webqstinnr.left, .webqstnt .webqstinnr.right {
  margin-top: 20px;
  width: 100%;
  flex-basis: auto;
}
.webqstnt {
  flex-direction: column;
}

.webqstnt .webqstinnr.right {
  display: none;
}
.qstbox.right {
  text-align: left;
  padding-left: 120px;
  padding-right: 0px;
  margin: 30px 0px;
}

.qstbox.wrfm {
margin: 20px 0px;
}
.webqstinnr.left .nmbrght {
  right: auto;
  left: 0;
} 
.exphrs ul{
  align-items: flex-start;
}
.crportflio img {
  height: 160px;
}
}

@media(max-width: 767px){
.service-banner .heading-main h1 {
  font-size: 30px;
  line-height: 38px;
  margin: 0px 0px 12px;
  max-width: 100%;
}
.partnering-right .content-icon h6{
  font-size: 24px;
}
.service-right-banner img {
  margin-bottom: 20px;
}
.service-banner .heading-main h1 span{
  font-size: 30px;
  margin: 0px;
  line-height: 38px;
}
.web-scalable .col-sm-6.image img{
  margin-bottom: 12px;
}
ul.ppcbutton {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.ppcadvertising .row:nth-child(2) >div {
  width: 50%;
}
.ppcadvertising .row:nth-child(2) {
  flex-direction: row;
  flex-wrap: wrap;
}
.service-banner .heading-main{
text-align: center;
}
.seo-counter-main h3 {
font-size: 24px;
}
form.web-connect{
margin-top: 25px;
}

.digital-marketing .content {
text-align: center;
}
.seo-industry ul li {
text-align: center;
width: 47%;}
.seobanner-main .button-merge {
    padding-bottom: 20px;
}
.creativeprtfl .slick-arrow {
width: 35px;
height: 35px;
}
#hubsptcrmsct:before {
  background-position: right center;
}
.creativeprtfl {
padding: 0px 30px;
}
.creativeprtfl .slick-arrow.slick-next {
right: -20px;
}
.creativeprtfl .slick-arrow.slick-prev {
left: -20px;
}
.indstrsrv .indstrsrvinr h3:before{
top: 6px;
}
.quote-content ul li {
font-size: 14px;
}
  .boost-ranking video,.digital-marketing .image img,.process-main .image img {
      width: 100%;
  }
  .process-main .heading-main p {
      padding-bottom: 0px !important;
  }
  .process-main .image img {
      padding-bottom: 50px;
  }

  ul.toolsicon-list li {
      width: 43%;
  }
  .boost-ranking .content-right.form {
    padding: 0px 15px;
}
  /* .boost-ranking .row >div {
      width: 100%;
      flex: auto;
  } */
  .boost-ranking .row {
      flex-direction: column;
  }

  .earntraffic .earntrafficinr {
    flex-basis: 47%;
  }

  .indstrsrv .indstrsrvinr {
    flex-basis: 47%;
  }
  .earntraffic .earntrafficinr {
    flex-basis: 47%;
  }

  .indstrsrv .indstrsrvinr {
    flex-basis: 47%;
  }

  .servteaminr {
    padding-bottom: 40px;
  }

  .row.qteam {
    padding-top: 0px;
  }
  .boost-ranking .content-left.heading-main {
    text-align: center;
    padding-bottom: 20px;
}
.succes-stories-item-2 {
  margin: 40px 0 0 0;
}

.webdev-process ul li {
  width: 42%;
  margin: 0px 12px 50px;
}
.webdev-process .icon-content {
  width: 100%;
  height: 100%;
}
.partnering-main {
  padding: 0px 0px 40px;
}
.partnering-main .row {
  flex-direction: column;
}
.partnering-main .row >div {
  width: 100%;
  flex: auto;
}
.partnering-main::after,.logoicon-img::before{
  display: none;
}
.partnering-left {
  background-color: #000;
  padding: 40px 20px !important;
}
.col-sm-6.col-xs-12.partnering-right{
  padding: 40px 20px !important;
}
.logoicon-img,.reverse .logoicon-img {
  padding: 0px 20px;}
  .hbstexprts , .hbstsct{
    flex-direction: column;
}
.qstbox.right, .qstbox.left{
    padding-left: 60px;
}
.indrngserv {
    flex-wrap: wrap;
    flex-direction: column;
}

.sclbarchtct .sclbarchtctinr,.indrngserv .indrngservinnr {
    margin: 0px 0px 20px !important;
}
.svypmng .svypmnginr:nth-child(2), .svypmng .svypmnginr:nth-child(4), .svypmng .svypmnginr:nth-child(3) {
    left: 0;
    width: 100%;
    max-width: 100%;
    margin: 0px 0px 20px 0px;
}
.svypmng, .hbstm {
    width: 100%;
}
.servdvlpmnt .serdvinnr {
    width: 100%;
    flex-basis: 100%;
}
.hbstexprts .hbstexprtsinr {
    padding: 0px 0 30px;
}
.indrngservimg {
  margin-bottom: 10px;
}
.getintchbtn{
text-align: center;
}
.drupaltp .row{
flex-direction: column-reverse;
}
.service-banner .row {
flex-direction: column-reverse;
}
.digital-marketing .container .row .image {
  margin-bottom: 20px;
}
.digital-marketing .container .row {
  flex-direction: column-reverse;
}
.drupaltp .heading-main {
  padding-top: 30px;
}

.drupaltp .dplrtimg .lnkdn {
  top: 58px;
  padding: 14px 40px;
  left: 100px;
}
.flip-image-right .flip-card.image-content {
  height: 360px;
}
.drupaltp .dplrtimg .smrsh {
  padding: 14px 40px;
  right: 80px;
  bottom: -20px;
}
.cltchmg {
  padding-bottom: 30px;
}

.drplcmsct {
  max-height: max-content;
  overflow: hidden;
}

.cmssct .cmssctinr {
  flex-basis: 46%;
}
.abts .abtimg {
  padding-bottom: 30px;
}
.ddrpl img {
  max-width: max-content;
}

.ddrpl {
  text-align: center;
  padding: 20px 0px;
}

.exphrs ul li {
  width: 100%;
}

.whrsimg img {
  max-width: 80%;
  padding-top: 40px;
}

.hquality .hqualitinr.ctnt {
  flex-basis: 100%;
}

.hquality {
  width: 100%;
  text-align: center;
}

.hquality .hqualitinr.imgc {
  flex-basis: 100%;
}

.hquality .hqualitinr.imgc .prmntmg {
  text-align: center;
  padding: 20px 0px;
}
.hub-counting span.index-module_slot_wrap__ZT-DX {
  min-height: unset;
}
.nmbrlft span.nmmb, .nmbrght span.nmmb {
  width: 50px;
  height: 50px;
}
.nmbrlft span.nmmb p, .nmbrght span.nmmb p{
  font-size: 14px;
}
.digital-marketing .container .row .card-content {
  flex-direction: column-reverse;
}
.seo-card {
  height: auto;
}
.hbstexprts .hbstexprtsinr.right .hbperfrm:after, 
.hbstexprts .hbstexprtsinr.left .hbperfrm:after{
  top: 44px;
}

}

@media(max-width: 575px){
  .digital-marketing .content {
      text-align: center;
  }
  .inner-flex-statins-list img{
    margin: auto auto 15px;
  }
  .merge{
    flex-direction: column;
  }
  .merge label,   .ppcadvertising .row:nth-child(2) >div{
    width: 100%;
  }

  .earntraffic .earntrafficinr,
  .indstrsrv .indstrsrvinr {
    flex-basis: 100%;
  }
  .servteaminr {
    padding-bottom: 40px;
  }
  .row.qteam {
    padding-top: 0px;
  }
  .service-counter .explore-btn {
    max-width: 250px;
    margin: auto;
}
.counter-main .container .row:last-child{
  margin-top: 0px;
}
.inner-flex-statins-list, .ppcadvertising .row:nth-child(2) >div  {
  width: 100%;
}    
div.web-development-stations-wrap .inner-flex-statins-list {
  border-left : none;
  border-right: none;
  padding: 30px 0;
  text-align: center;
}
.succes-stories-item-2 {
  flex-wrap: wrap;
  row-gap: 30px;
}
.inner-list-dev-succes-stories {
  width: 100%;
}
.logoicon-img ul li {
  width: 48%;
}
.hub-icons ul li {
width: 100%;}
/* cms res */
.cmsrgt .cmsrgtinr h4 {
  font-size: 18px;
  line-height: 26px;
}
/* .drupaltp .row {
  flex-direction: column-reverse;
} */
.getintchbtn{
  text-align: center;
}
.whyhrs .row {
  flex-direction: column-reverse;
}
.whyhrs .whrsimg {
  padding-bottom: 30px;
}
.whyhrs .whrsimg img {
  padding-top: 0px;
}
.drupaltp .heading-main {
  padding-top: 50px;
}

.drupaltp .dplrtimg .lnkdn {
  top: 58px;
  padding: 14px 40px;
  left: 10px;
}
.drplcmsct {
  padding-top: 60px;
}
.drupaltp .dplrtimg .smrsh {
  padding: 14px 40px;
  right: 10px;
  bottom: -20px;
}
.cltchmg {
  padding-bottom: 30px;
}

.drplcmsct {
  max-height: max-content;
  overflow: hidden;
}

.cmssct .cmssctinr {
  flex-basis: 100%;
}
.abts .abtimg {
  padding-bottom: 30px;
}
.ddrpl img {
  max-width: max-content;
}

.ddrpl {
  text-align: center;
  padding: 20px 0px;
}

.exphrs ul li {
  width: 100%;
}

.whrsimg img {
  max-width: 80%;
  padding-top: 40px;
}

.hquality .hqualitinr.ctnt {
  flex-basis: 100%;
}

.hquality {
  flex-wrap: wrap;
  width: 100%;
}

.hquality .hqualitinr.imgc {
  flex-basis: 100%;
}

.hquality .hqualitinr.imgc .prmntmg {
  text-align: center;
  padding: 20px 0px;
}
.dvlpsrvc .lftbg {
  max-width: 600px;
  height: 400px;
}
.drplcmsct .drplcmsctinnr {
  flex-basis: 100%;
}
.drupaltp {
  padding-bottom: 50px;
}
.whyhrs.py-5 {
  padding-top: 0px !important;
}
.web-development-stations-wrap >div:nth-child(even) {
  background-color: #fffbed;
}
.web-development-stations-wrap >div:nth-child(5), .web-development-stations-wrap >div:first-child{
  background-color: #fff;
}
/* cms res */
}

@media(max-width: 480px){
  .crportflio img {
    height: auto;
  }
}
